<option value="" selected disabled>(Selecccionar...)</option>
<option value="SECUNDARIA">SECUNDARIA</option>
<option value="TÉCNICO">TÉCNICO</option>
<option value="UNIVERSITARIO">UNIVERSITARIO</option>