<option value="-1" selected disabled>(Seleccionar)</option>
<option value="0">NADA</option>
<option value="1">POCO</option>
<option value="2">MODERADAMENTE</option>
<option value="3">BASTANTE</option>
<option value="4">MUCHO</option>

