@page   "/page/ordenatencionindex"

@using SG_Blazor_4.Shared.Models

@inject HttpClient httpClient

<div class="card">
    <div class=" card-header">
        <h5>Ordenes de atencion</h5>
        <div class="form-row d-flex">
            @*<input class="form-control col-md-2" type="date" @bind="fechas.FecIni" />
                <input class="form-control col-md-2" type="date" @bind="fechas.FecFin" />*@
            <div class="ml-auto p-2">
                <button type="button" class="btn btn-primary" @onclick="(()=>Create())">
                    <span class="oi oi-plus"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive-sm">
            <table class="table table-striped">
                <tbody>
                    <ListadoGenerico Listado="ordenAtencions">

                        <HayRegistros Context="Orden">
                            <OrdenAtencionRow orden="Orden" />
                        </HayRegistros>

                    </ListadoGenerico>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal Create-->
@if (ShowCreate)
{
    <OrdenAtencionCreate />
}
<!--Modal Create-->

@code {

    bool ShowCreate;
    List<OrdenAtencion> ordenAtencions;

    private async Task GetDatos()
    {
        ordenAtencions = await httpClient.GetFromJsonAsync<List<OrdenAtencion>>("api/ordenatencion");
    }

    private void Create() 
    {
        ShowCreate = true;
        Console.WriteLine("Show from Create");
    }

    protected override async Task OnInitializedAsync()
    {
        await GetDatos();
    }
}